//FONT
@import url("https://use.typekit.net/cgd1wdk.css");
$font-primary: 'brandon-grotesque', sans-serif;
$font-body:'europa', sans-serif;


$breakpoint-sm-max: 767px;
$breakpoint-md-min: 768px;
$breakpoint-intermediate-min: 768px;
$breakpoint-intermediate-max: 999px;
$breakpoint-lg-tablet:1024px;


$max-content:1380px;
$desktop-padding:30px;
$mobile-padding:15px;

$nav-height:140px;