.vertical-text {
    transform: rotate(-90deg) translateX(100%);
    transform-origin: right bottom;
    position:fixed;
    bottom: 0px;
    right: 0;
    margin-right:30px;
    z-index: 9;
    margin-bottom: 30px;
    transition: bottom 0.6s;
    ul{
        svg {
            max-width: 25px;
            height: 25px;
            transform: rotate(90deg);
        }
        list-style: none;
        display: flex;
        margin-left: 0;
        margin-bottom: 0;
        li {
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            &:first-of-type {
                margin-left: 10px;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

.watermark {
    max-width: 35px;
    height: 35px!important;
}

.scrollbar.vert-footer{
    &.scrollbar-hidden {
        .vertical-text {
            bottom: -250px;
            .stopShow & {
                bottom: 0;
            }
        }
        
    }
}